<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{title}}
  </title>

  <link rel="stylesheet" href="css/style.css">
  <script src="js/CommonFunctions.js" type="text/javascript"></script>

</head>

<body onload="init()">
  <div class="container">

    <div class="header">
      <img src="img/FNRASEC_Logo.png" alt="Logo FNRASEC">
      <h1>{{title}}</h1>
      {{#if help}}
      <div class="help">
        <a href="#" id="help-link">Aide</a>
      </div>
      {{/if}}
    </div>

    <div class="main-content">
      {{{body}}}
    </div>

    <!-- <div style="height: 100px;"></div> -->

    <div class="footer">
      <span id="version" class="footer-text">FNRASEC {{title}} v{{version}}</span>
      <span class="fnrasec-text">FNRASEC 2025</span>
      <span class="footer-text"><a href="https://github.com/jlzola/fnrasec-winlink-template" target="_blank">FNRASEC
          Winlink Templates</a></span>
    </div>

    <!-- Aide en ligne -->
    <!-- Aide en ligne -->
    <!-- Aide en ligne -->
    <!-- <div class="help-panel" id="help-panel">
      <button class="close-btn" id="close-btn">Fermer</button>
      <h2>Aide en Ligne</h2>
      {{{help}}}
    </div> -->

  </div>

</body>

</html>