<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{title}}
  </title>

  <link rel="stylesheet" href="css/style.css">
  <script src="js/CommonFunctions.js" type="text/javascript"></script>

</head>

<body onload="init()">
  <div class="container">

    <div class="header">
      <div class="left">
        <img src="img/FNRASEC_Logo.png" alt="Logo FNRASEC">
      </div>
      <div class="center">
        <h1>{{title}} {{#if help}}<a href="#" id="help-link"><img src="img/circle-question-solid.svg"
              alt="Voir l'aide en ligne" title="Affcher l'aide en ligne"></a>{{/if}}</h1>
      </div>
      <div class="right">
        <img src="img/SecuriteCivile_Logo.png " alt="Logo FNRASEC">
      </div>
    </div>


    <div class="main-content">
      {{{body}}}
    </div>

    <div class="footer no-print">
      <span id="version" class="footer-text">FNRASEC {{title}} v{{version}}</span>
      <span id="brand" class="fnrasec-text">FNRASEC 2025</span>
      <span id="projectLink" class="footer-text"><a href="https://github.com/jlzola/fnrasec-winlink-template"
          target="_blank">FNRASEC
          Winlink Templates</a></span>
    </div>

  </div>

</body>

</html>